# Token de Autenticação do Bot do Discord (Colocar em Segredos / Secrets no Replit)
DISCORD_TOKEN=seu_token_aqui

# Endereço e Porta do Servidor Minecraft
MC_HOST=inserirtexto-gWHK.aternos.me
MC_PORT=38060

# ID do Canal do Discord onde a mensagem de status será atualizada
STATUS_CHANNEL_ID=1550878827645771948

# Intervalo de Atualização em Segundos (Padrão: 15)
UPDATE_SECONDS=15

# Porta do Servidor Web Keep-Alive (Padrão Replit: 3000)
PORT=3000
